sudo: false

language: go

go:
  - "1.10.x"

before_install:                                                                 
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh  
  - dep ensure
  - go get -u github.com/gobuffalo/packr/...

git:
  depth: 1
  
notifications:
  email: false

script:
  - make
  - go test -v -race ./...